<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="page-about">
  <div text-center>
      <div>
          <ion-icon class="ws-icon ws-icon--logo ws-icon--small"></ion-icon>
      </div>
      <div>
        WriteSpeak
      </div>
      <div>
        Version 1.0.0
      </div>
      <br/>
      <div>
        By ED<sup>2</sup>
      </div>
  </div>  
</ion-content>
