.ql-container .ql-editor {
  max-height: 100vh;
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
  p:last-child {
    padding-bottom: 30vh;
  }

}
quill-editor div.quill-editor.ql-container {
  font-family: $font-family-libre;
}
