<ion-header>
  <ion-navbar>
    <ion-title> {{ documentModel?.title }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="scrollable-editor" class="editor-page" overflow-scroll="false">
  <button ion-button (click)="showDebug = !showDebug">Show Debug Actions</button>
  <!-- DEBUG code -->
  <ng-container *ngIf="showDebug">
    <a style="text-decoration: underline; margin-right: 10px" *ngFor="let command of commands" (click)="parseCommand(command)">{{command}}</a>
  </ng-container>
  <div>Current Selection: i:{{currentSelection?.index}} l:{{currentSelection?.length}}</div>

  <!-- <ion-range class="editor-page__volume-widget" min="0" max="-20" step="1" [(ngModel)]="volume"> -->
  <!-- <ion-icon small range-left ios="ios-volume-up" md="md-volume-up"></ion-icon> -->
  <!-- </ion-range> -->

  <div class="editor-page__volume-widget">
    <!--
      <input  type="range" id="range" min="0" max="9" step="1" [(ngModel)]="volume" (change)="setVolume()" />
      <ion-icon small ios="ios-volume-up" md="md-volume-up"></ion-icon>
    -->
  </div>
  <!-- <codemirror-editor [documentModel]="documentModel"></codemirror-editor> -->
  <!-- <quill-editor [documentModel]="documentModel"></quill-editor> -->
  <!-- <quill-editor-container [documentModel]="documentModel"></quill-editor-container> -->

  <!--
    <quill-editor [(ngModel)]="delta"
             [options]="editorOptions"
             (blur)="onEditorBlured($event)"
             (focus)="onEditorFocused($event)"
             (ready)="onEditorCreated($event)"
             (change)="onContentChanged($event)"></quill-editor>
  -->

  <!--
    <button (click)="speakTestPhrase()">Speak Test Phrase</button>
    <button (click)="addWords()">Add words</button>
    <button (click)="getWordAtOrBeforeCursor()">Get Word At or Before</button>
    Test Word: {{testWord?.value}}

    <div>
      <button (click)="getSentenceAtOrAheadOfCursor()" ion-button>Get Sentence At or Ahead</button>
      Test Sentence: {{testSentence?.value}}
    </div>

    <div>
      <button (click)="getSentenceBeforeCursor()" ion-button>Get Sentence Before Cursor</button>
      Test Sentence: {{testSentence?.value}}
    </div>

    <div>
      <button (click)="deleteSentenceBeforeCursor()" ion-button>Delete Sentence Before Cursor</button>
    </div>

    <div>
      <button (click)="deleteSentenceAtOrAheadOfCursor()" ion-button>Delete Sentence At or Ahead of Cursor</button>
    </div>

    <div>
      <button (click)="getParagraphBeforeCursor()" ion-button>Get Paragraph Before Cursor</button>
      <div>
        Test Paragraph: {{testParagraph?.value}}
      </div>
    </div>
  -->

  <form
    [formGroup]="quillForm"
    (click)="onEditorTouch()"
    class="editor-page__editor"
    [ngClass]="recordingFontSize"
  >
    <quill-editor formControlName="quillEditorDelta" [options]="editorOptions"></quill-editor>
  </form>

  <!-- <rich-text [formControlItem]="wordsService.words"></rich-text> -->

  <ion-fab bottom left>
    <button ion-fab color="light" (click)="copyToClipboard()"><ion-icon name="md-copy"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom center class="editor-page__listen-widget">
          
    
    <button ion-fab (click)="startListening()" *ngIf="!microphoneOn"><ion-icon md="md-mic"></ion-icon></button>
    <button ion-fab (click)="stopListening()" *ngIf="microphoneOn" class="editor-page__listen-widget-pause">
        <div class="recording-animation"></div>
        <ion-icon class="editor-page__listen-widget-pause-icon " ios="ios-pause" md="md-pause"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right #fab>
    <button ion-fab color="light"><ion-icon name="md-volume-up"></ion-icon></button>
    <ion-fab-list side="top" class="editor-page__volume-widget">
      <input type="range" id="range" min="0" max="15" step="1" [(ngModel)]="volume" (change)="setVolume()" />
    </ion-fab-list>
  </ion-fab>
</ion-content>
