<ion-header>
  <ion-navbar>
    <ion-title>
      Voice Commands
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="ws-command-list">
  <!--Playback-->
  <ion-card *ngFor="let item of filteredCommands">
    <ion-card-header class="ws-command-list__header ws-command-list__header--{{item.color}} card-header card-header-md"><strong>{{item.category}}</strong></ion-card-header>
    <ion-card-content>
      <ng-container *ngFor="let command of item.commands">
        <div class="ws-command-list__item" >
          <div class="ws-command-list__command-quote">
            <div class="ws-command-list__command-quote-icon"><ion-buttons class="ws-icon ws-icon--message-circle ws-icon--tiny"></ion-buttons></div>
            <div>
                "{{command.name | uppercase}}"
            </div> 
          </div>
          
          <div class="ws-command-list__command-body">
            <div>
                {{command.description}}
            </div>
            <div class="ws-command-list__alternates" *ngIf="command.alternatePhrases.length > 0">
              <i>Alternate phrases: <span *ngFor="let alternatePhrase of command.alternatePhrases">"{{alternatePhrase | uppercase}}"</span> </i>
            </div>
          </div>
        </div>
        <br/>
      </ng-container>
    </ion-card-content>
  </ion-card>

</ion-content>
