page-home {
  .main-content {
    padding-top: 56px;
  }
}

.ws-home__no-docs-bg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ws-home__no-docs-bg-w {
  font-family: "Times New Roman", libreFranklin;
  font-size: 35rem;
  font-style: italic;
  position: absolute;
  top: 20%;
  // left: 0;
  z-index: -1;
  color: $text-gray--transparent;
}

.ws-home__no-docs-bg-text {
  font-size: 2rem;
  text-align: center;
}

.ws-home__folder {
  position: relative;
}

.ws-home__folder-title {
  position: absolute;
  top: calc(50% - 24px); //24px is font size of H1 I assume
  left: -.2em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  width: 100%;
  max-width: 9em;
  z-index: 10;

}

.ws-home__sub-header {
  margin-top: 1em;
  margin-left: 1em;
}

.ws-home__sub-header-folder-icon-group {
  display: flex;
  align-items: center;
}

.ws-home__sub-header-folder-icon-container {
  margin-left: 1em;
}

.ws-home__sub-header-folder-icon-title {
  margin-left: .5em;
}
.ws-home__folder-more-icon {
  position: absolute;
  left: 11em;
  top: 2.5em;
  z-index: 1;
  ion-icon {
    font-size: 2.8rem;
  }
}

.long-text-size {
  font-size: .7em;
  padding-left: .5em;
  padding-right: .5em;
}
