<ion-header>
  <ion-navbar>
    <ion-buttons left >
      <button ion-button menuToggle><ion-icon name="menu" role="img" class="icon icon-ios ion-ios-menu" aria-label="menu"></ion-icon>&nbsp;</button>
    </ion-buttons>
    <ion-title>Home {{androidVersion}}</ion-title>
    <ion-buttons end class="ws-icon ws-icon--logo ws-icon--small"></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg" >
  <div class="ws-home__sub-header">
    <ion-buttons end class="ws-icon ws-icon--home ws-icon--x-small" *ngIf="folderStack.length == 1"></ion-buttons>
    <div class="ws-home__sub-header-folder-icon-group" (click)="popFolder()" *ngIf="folderStack.length > 1" >
      <div><ion-buttons end class="ws-icon ws-icon--arrow-left-circle ws-icon--x-small"></ion-buttons></div>
      <div class="ws-home__sub-header-folder-icon-container"><ion-buttons end class="ws-icon ws-icon--folder-shadow ws-icon--x-small"></ion-buttons></div>
      <div class="ws-home__sub-header-folder-icon-title">{{currentFolder?.title}}</div>
    </div>
  </div>

  <div class="ws-home__no-docs-bg" *ngIf="documents?.length == 0 && currentFolder?.folders.length == 0 && !loadingDocuments">
    <div>
      <div class="ws-home__no-docs-bg-w">W</div>
      <div class="ws-home__no-docs-bg-text">Use + to create new document</div>
    </div>
  </div>

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="createNewFolder($event, fab)">  <ion-icon ios="ios-folder-open" md="ios-folder-open-outline"></ion-icon></button>
      <button ion-fab (click)="createNewDoc($event, fab)"><ion-icon ios="ios-document" md="ios-document-outline"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid *ngIf="showItems">
    <ion-row justify-content-between>
      <ion-col col-6 *ngFor="let folder of currentFolder?.folders">
        <div class="ws-home__folder"  (click)="pushFolder(folder)">
          <div class="ws-home__folder-more-icon" (click)="presentItemPopover($event, 'folder', folder.id, currentFolder.id)">
            <ion-icon ios="ios-more" md="md-more" item-right ></ion-icon>
          </div>
          <h4 class="ws-home__folder-title">
            <span [ngClass]="{'long-text-size' : folder.title.length > 20}">{{folder.title}}</span>
          </h4>
          <ion-buttons end class="ws-icon ws-icon--folder-shadow ws-icon--x-wide"></ion-buttons>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="showItems">
    <ion-row justify-content-between>
      <ion-col col-6 *ngFor="let document of documents">
        <ion-card class="ws-card ws-card--doc">
          <ion-card-header  class="ws-card__header">
            <ion-item class="ion-item--gray">
              <span (click)="pushPage(document.id)">{{document.title}}</span>
              <ion-icon ios="ios-more" md="md-more" item-right (click)="presentItemPopover($event, 'doc', document.id )"></ion-icon>
            </ion-item>
          </ion-card-header>
          <ion-card-content (click)="pushPage(document.id)" [innerHTML]="document.previewText">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>

<!--<quill-editor></quill-editor>-->
