
<ion-fab bottom left >
  <button ion-fab color="light" class="rich-text__format-button" (click)="presentPopover($event)">T</button>
</ion-fab>
<div #editor contenteditable="true" class="maineditor" tappable>

</div>

