rich-text {
  *[contenteditable] {
    -webkit-user-select: auto !important;
    height:calc(100% - 25px);
    padding: 0 2px 100px 2px;
    margin: 0 auto;
    width: 87%;
    //border: 1px solid #bbb;
    overflow-x: scroll;
    overflow-y: auto;
    word-wrap: normal;
    img {
      padding-left: 2px;
      max-width: 95%;
    }
  }
  div.decorator {
    background: #444;
    margin: 5px 1px 5px 1px;
    text-align: center;
    button {
      background: #444;
      color: #fff;
      font-size: 1.1em;
      height: 35px;
      min-width: 30px;
      padding-left: 1px;
      padding-right: 1px;
    }
  }
  .maineditor {
    background-color: #fff;
    font-size: 1.5em;
  }
}

.rich-text__format-button {
  font-size: 1.5em;
  font-style: italic;
  font-family: "Times New Roman";
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
