.ws-settings {
  background: $whitesmoke;
}

.ws-settings__playback-folowing {
  padding: 0;
}

.ws-settings__font-size-setting-large-letter {
  font-size: 2em;
}

.ws-settings__font-size {
  &-1 {
    font-size: 20px;
  }
  &-2 {
    font-size: 25px;
  }
  &-3 {
    font-size: 30px;
  }
  &-4 {
    font-size: 35px;
  }
  &-5 {
    font-size: 45px;
  }
}
