<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="ws-settings" [formGroup]="form">
  <ion-card>
    <ion-card-header><strong>Speech Playback</strong></ion-card-header>
    <ion-card-content>
      Speed <strong>{{playbackSpeed}}x</strong>
      <ion-range min="1" max="20" step="1" formControlName="playbackSpeed" >
        <ion-icon range-left small name="fastforward"></ion-icon>
        <ion-icon range-right name="fastforward"></ion-icon>
      </ion-range>
      <ion-item class="ws-settings__playback-folowing">
        <ion-label>Playback following voice capture</ion-label>
        <ion-checkbox formControlName="playbackImmediately"></ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header><strong>General</strong></ion-card-header>
    <ion-card-content> 
      
      Font size while recording
      <ion-range min="1" max="5" step="1" formControlName="fontSizeWhileRecording">
        <span range-left >A</span>
        <span range-right class="ws-settings__font-size-setting-large-letter">A</span>
      </ion-range>
      <ion-item  [ngClass]="fontSizeClass">
        <strong>The quick brown fox jumped over the lazy dog.</strong>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
