<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>

<ion-nav #ionNavRoot [root]="rootPage"></ion-nav>


<ion-menu [content]="ionNavRoot" type="overlay" class="ws-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>
          WriteSpeak
          <ion-icon name="close" class="ws-menu__icon-close" menuClose></ion-icon>
      </ion-title>
      <ion-buttons left class="ws-icon ws-icon--logo ws-icon--small"></ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="ws-menu__list">
      <button class="ws-menu__list-item" ion-item menuClose>
        <div class="ws-menu__list-item--flex-container">
          <div class="ws-menu__list-item-icon"><ion-buttons class="ws-icon ws-icon--home ws-icon--tiny"></ion-buttons></div>
          <div class="ws-menu__list-item-text">Home</div>
        </div>
      </button>
        <button class="ws-menu__list-item" ion-item (click)="openPage(commandListPage)">
          <div class="ws-menu__list-item--flex-container">
            <div class="ws-menu__list-item-icon"><ion-buttons class="ws-icon ws-icon--message-circle ws-icon--tiny"></ion-buttons></div>
            <div class="ws-menu__list-item-text">Voice Commands</div>
          </div>
        </button>


      <button class="ws-menu__list-item" ion-item (click)="openPage(tutorialPage)">
        <div class="ws-menu__list-item--flex-container">
          <div class="ws-menu__list-item-icon"><ion-buttons class="ws-icon ws-icon--book ws-icon--tiny"></ion-buttons></div>
          <div class="ws-menu__list-item-text">Tutorial</div>
        </div>
      </button>
      <button class="ws-menu__list-item" ion-item (click)="openPage(settingsPage)">
        <div class="ws-menu__list-item--flex-container">
          <div class="ws-menu__list-item-icon"><ion-buttons class="ws-icon ws-icon--sliders ws-icon--tiny"></ion-buttons></div>
          <div class="ws-menu__list-item-text">Settings</div>
        </div>
      </button>
      <button class="ws-menu__list-item" ion-item (click)="openPage(aboutPage)">
        <div class="ws-menu__list-item--flex-container">
          <div class="ws-menu__list-item-icon"><ion-buttons class="ws-icon ws-icon--info ws-icon--tiny"></ion-buttons></div>
          <div class="ws-menu__list-item-text">About</div>
        </div>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

