<ion-content class="cards-bg">
  <h4 class="tutorial__skip" (click)="completeTutorial()">
    Skip
  </h4>
  <ion-slides pager>


    <ion-slide>
      <ion-icon end class="ws-icon ws-icon--logo-shadow ws-icon--x-large"></ion-icon>
      <h2 class="tutorial__slide-header">Welcome to WriteSpeak!</h2>
      <br/>
      <div class="tutorial__slide-body">
        WriteSpeak-ing allows you to
        <br/>
        <strong>write</strong>, <strong>edit</strong> and <strong>playback</strong>
        <br/>
          your next great masterpiece
        <br/><br/> All
          with the <i>power</i> of your voice.
      </div>
    </ion-slide>

    <ion-slide>
      <br/>
      <br/>

      <div class="tutorial__slide-icon-group tutorial__slide-icon-group--step-assistant">
        <ion-icon end class="ws-icon ws-icon--star-face-shadow ws-icon--x-large"></ion-icon>
        <ion-icon end class="ws-icon ws-icon--message-square-shadow ws-icon--x-large"></ion-icon>
        <ion-icon end class="ws-icon ws-icon--file-text-shadow ws-icon--x-large"></ion-icon>
      </div>

      <h2 class="tutorial__slide-header">Speak <strong>Up</strong>.</h2>


      <div class="tutorial__slide-body">
        <div><strong>Say</strong> things like <strong>“Read Back”</strong> <br/> to <strong>playback</strong> your document, <br/> or <strong>"Scratch That"</strong> <br/> to <strong>delete</strong> the last captured phrase.</div>
        <br/>
        <div class="tutorial__slide-body--sub-text"> (For a list of commands that it responds to, see <i>Command List</i> in the menu.)</div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="tutorial__slide-icon-group tutorial__slide-icon-group--step-speak-loud">
        <ion-icon end class="ws-icon ws-icon--user-shadow ws-icon--x-large"></ion-icon>
        <ion-icon end class="ws-icon ws-icon--volume-2-shadow ws-icon--x-large"></ion-icon>
        <ion-icon end class="ws-icon ws-icon--smartphone-shadow ws-icon--x-large"></ion-icon>
      </div>
      <br/>
      <h2 class="tutorial__slide-header">Remember to speak <br/> <strong>loud</strong> and <i>clear</i>. </h2>
      <div class="tutorial__slide-body">
        <div>For even better results, use a <a href="#">bluetooth mic</a>.</div>
        <!--<div class="tutorial__slide-body&#45;&#45;sub-text"> (For a list of commands he responds to, see <i>Command List</i> in the menu.)</div>-->
      </div>
      <br/>
      <br/>
      <ion-buttons class="tutorial__finish-button">
        <button ion-button large (click)="completeTutorial()">Finish</button>
      </ion-buttons>
    </ion-slide>

  </ion-slides>
</ion-content>
