.tutorial__skip {
  position: absolute;
  right: 0;
  margin: 1em 1em;
  z-index: 10;
  color: $link-color
}
.tutorial__slide-header {
  @extend .ws-header-2;
  line-height: 4.5rem;
}

.tutorial__slide-body {
  color: $text-gray;
  line-height: 4.5rem;

  strong {
    color: $text-black;
  }
}

.tutorial__slide-body--sub-text {
  line-height: 2.5rem;
}

.tutorial__slide-icon-group--step-assistant {
  position: relative;
  & .ws-icon--star-face-shadow {
    position: relative;
    top: 10px;
  }

  & .ws-icon--message-square-shadow {
    position: relative;
    top:-3rem;
    right: 3rem;
  }

  & .ws-icon--file-text-shadow {
    position: absolute;
    top: 40%;
    left: 55%;
  }
}

.tutorial__slide-icon-group--step-speak-loud {
  position: relative;
  left:15%;
  & .ws-icon--user-shadow {
    position: relative;
    top: 10px;
  }

  & .ws-icon--volume-2-shadow {
    position: relative;
    top:0rem;
    right: 6rem;
  }

  & .ws-icon--smartphone-shadow{
    position: absolute;
    top: 50%;
    left: 50%;

  }
}

.tutorial__finish-button {
  position: relative;
}


