$text-gray: #828282;
$text-black: #333333;
$text-white: #ffffff;
$text-gray--transparent: transparentize($text-gray, .9);
$text-white--transparent: transparentize($text-white, .4);
$background-light-gray: rgba(158, 158, 158, 0.1);
$blue: blue;
$whitesmoke: whitesmoke;
